<div id="email-footer">
  <div class="divider"></div>
  <div class="logo-icon">
    <img src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/DLVRY/email-assets/jb-elearn/footer-logo.png" alt="awashop logo icon">
  </div>

  <table class="footer-coy">
    <!-- Social Media Links Row -->
    <tr>
      <td>
        <table class="coy-social-media">
          <tr>
            <td>
              <a href="https://www.facebook.com/awasome.co">
                <img src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/DLVRY/email-assets/facebook.png" alt="Facebook">
              </a>
              <a href="https://www.instagram.com/awasome.co">
                <img src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/DLVRY/email-assets/instagram.png" alt="Instagram">
              </a>
              <a href="https://www.linkedin.com/company/awadigital">
                <img src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/DLVRY/email-assets/linkedin.png" alt="LinkedIn">
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <!-- Company Information Row -->
    <tr>
      <td>
        <table class="coy-name">
          <tr>
            <td>
              <b>awasome</b> by Awa Digital Ltd.<br>
              <a href="https://awashop.ng">awashop.ng</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <!-- Legal Text Row -->
    <tr>
      <td>
        <table class="coy-legal">
          <tr>
            <td>
              <p>
                AwaSome is a distinguished product of Awa Digital Ltd. (awadigital.co), a company registered in Nigeria (Registration No. 1799877). At Awa Digital Ltd., we uphold the highest standards in e-commerce, providing a secure and trustworthy platform for both sellers and buyers. Our commitment to compliance and operational excellence ensures a reliable and seamless online shopping experience.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</div>
