<h1>Learn to build websites from scratch with AwaSome by AwaDigital®</h1>

<div class="text-group">
  <p>Hello <%= @user.first_name %>,</p>
  <p>
    Are you a tech enthusiast? If so, we invite you to join our free 2-month
    Bootcamp with awasome by AwaDigital®. This is a fantastic opportunity to
    dive into the world of web development and build websites from scratch.
  </p>
  <p>
    Our Bootcamp offers an introduction to essential web technologies. You'll
    learn the fundamentals of HTML, CSS, and JavaScript, enabling you to create
    structured, styled, and interactive web pages. We’ll also explore JavaScript
    front-end frameworks like React and Next.js, which simplify and enhance
    development.
  </p>
</div>

<div class="cta">
  <table id="cta-links">
    <tr class="cta-item">
      <td>
        <a class="cta-link cta-dark" href="https://awasome.awadigitaion.co">
          Signup
        </a>
      </td>
      <td>
        <a class="cta-link cta-light" href="https://t.me/+VFZBIXEJT7w4N2Fk">
          Join Community
        </a>
      </td>
    </tr>
  </table>
</div>

<div class="hero-image">
  <img
    src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/DLVRY/email-assets/jb-elearn/1.png"
    alt="Introduction to front end"
  />
</div>

<div id="step-list-checked">
  <h4 class="step-list-checked-title">Topics Covered</h4>
  <table>
    <tr class="step-list-checked-item">
      <td class="step-list-checked-item-icon">
        <img
          src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/DLVRY/email-assets/jb-elearn/check-icon.png"
          alt="Check Mark"
        />
      </td>
      <td class="step-list-checked-item-description">
        <span>How the web works</span>
      </td>
    </tr>
    <tr style="height: 0.75rem"></tr>
    <tr class="step-list-checked-item">
      <td class="step-list-checked-item-icon">
        <img
          src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/DLVRY/email-assets/jb-elearn/check-icon.png"
          alt="Check Mark"
        />
      </td>
      <td class="step-list-checked-item-description">
        <span>Hypertext Markup Language (HTML 5)</span>
      </td>
    </tr>
    <tr style="height: 0.75rem"></tr>
    <tr class="step-list-checked-item">
      <td class="step-list-checked-item-icon">
        <img
          src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/DLVRY/email-assets/jb-elearn/check-icon.png"
          alt="Check Mark"
        />
      </td>
      <td class="step-list-checked-item-description">
        <span>Cascading Style Sheets (CSS3)</span>
      </td>
    </tr>
    <tr style="height: 0.75rem"></tr>
    <tr class="step-list-checked-item">
      <td class="step-list-checked-item-icon">
        <img
          src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/DLVRY/email-assets/jb-elearn/check-icon.png"
          alt="Check Mark"
        />
      </td>
      <td class="step-list-checked-item-description">
        <span>From UI Design to Code</span>
      </td>
    </tr>

    <tr style="height: 0.75rem"></tr>
    <tr class="step-list-checked-item">
      <td class="step-list-checked-item-icon">
        <img
          src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/DLVRY/email-assets/jb-elearn/check-icon.png"
          alt="Check Mark"
        />
      </td>
      <td class="step-list-checked-item-description">
        <span>Introduction to Javascript</span>
      </td>
    </tr>
    <tr style="height: 0.75rem"></tr>
    <tr class="step-list-checked-item">
      <td class="step-list-checked-item-icon">
        <img
          src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/DLVRY/email-assets/jb-elearn/check-icon.png"
          alt="Check Mark"
        />
      </td>
      <td class="step-list-checked-item-description">
        <span>NextJS</span>
      </td>
    </tr>
    <tr style="height: 0.75rem"></tr>
    <tr class="step-list-checked-item">
      <td class="step-list-checked-item-icon">
        <img
          src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/DLVRY/email-assets/jb-elearn/check-icon.png"
          alt="Check Mark"
        />
      </td>
      <td class="step-list-checked-item-description">
        <span>Working with REST APIs</span>
      </td>
    </tr>
  </table>
</div>

<div class="text-group">
  <p style="color: #1a3156">
    Join our community and start your journey into front-end development. Swipe
    to learn more and sign up today!
  </p>
</div>

<div class="cta before_footer">
  <table id="cta-links">
    <tr class="cta-item">
      <td>
        <a
          class="cta-link cta-instagram"
          href="https://instagram.com/awasome.co"
        >
          <img
            src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/DLVRY/email-assets/jb-elearn/follow%20on%20ig.png"
            alt="follow us on instagram"
          />
        </a>
      </td>
    </tr>
  </table>
</div>
