<div id="email-footer">
  <p class="explainer-text">
    You're getting this email because you signed up or have placed an order on
    the Jazzy's Burger website and/or mobile app.
  </p>
  <h5>Thanks for Patronizing Jazzy's Burger</h5>
  <a href="jazzysburger.com">Jazzy's Burger</a>
</div>
