<div id="email-footer">
  <p class="explainer-text">
    You're getting this email because you signed up or have placed an order on
    the <%= AppBranding::NAME %> website and/or mobile app.
  </p>
  <h5>Thanks for choosing <%= AppBranding::NAME %></h5>
  <a href="<%= AppBranding::URL %>"><%= AppBranding::NAME %></a>
</div>
