<style>
  #email-footer {
    padding: 20px 0;
  }
  #email-footer .explainer-text {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 39, 9, 0.1);
    padding-top: 20px;
  }
  #email-footer h5 {
    margin: 0 0 10px;
  }
  #email-footer a {
    text-decoration: 0;
    font-weight: 600;
    color: rgba(255, 39, 9, 1);
  }
</style>

<div id="email-footer">
  <p class="explainer-text">
    You're getting this email because you signed up or have placed an order on
    the Jazzy's Burger website and/or mobile app.
  </p>
  <h5>Thanks for Patronizing Jazzy's Burger</h5>
  <a href="jazzysburger.com">Jazzy's Burger</a>
</div>
