<div id="email-header">
  <div class="brand-logo">
    <% if AppBranding::MEDIA_CDN_URL.present? %>
      <img src="<%= AppBranding::MEDIA_CDN_URL %>/logo.png" alt="<%= AppBranding::NAME %>" />
    <% else %>
      <h2><%= AppBranding::NAME %></h2>
    <% end %>
  </div>
</div>
