<div id="email-header">
  <div class="brand-logo">
    <img
      src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/JJB/public-space/logo.svg"
      alt=""
    />
  </div>
  <!-- This is the header! -->
</div>
